.git
.venv
__pycache__
**/__pycache__
*.pyc
**/*.pyc
.pytest_cache
.env
**/.env
**/.env.local
.env.homologacao
rpa_email/resources/*.db
rpa_email/resources/*.db-*

rpa_email/.env
rpa_email/resources/attachments

dashboard/node_modules
dashboard/dist
